/* Custom styles for the calendar */
.rbc-calendar {
  font-family: 'Public Sans', sans-serif;
  font-size: 14px;
}

.rbc-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 16px;
}

.rbc-toolbar button {
  background-color: #357837;
  color: #fff;
  border: none;
  border-radius: 699px; /* Use a high value to create round buttons */
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow for 3D effect */
  font-family: 'Public Sans', sans-serif;
}

.rbc-toolbar button:hover {
  background-color: #357837;
}

.rbc-today {
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 4px;
}

.rbc-header {
  font-weight: bold;
  text-align: center;
}

.rbc-day-bg {
  background-color: #f8f8f8;
}

.rbc-event {
  border-radius: 8px; /* Use a higher value for round edges */
  background-color: #357837;
  color: #fff;
  padding: 8px 12px; /* Adjust padding for a more modern look */
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow for 3D effect */
  font-family: 'Public Sans', sans-serif; 
}

.rbc-event:hover {
  background-color: #357837;
}

.rbc-selected {
  background-color: #357837;
}

.rbc-agenda-time-cell,
.rbc-agenda-date-cell {
  border: none;
}

.rbc-agenda-time-cell {
  font-weight: bold;
}

.rbc-agenda-event-cell {
  padding: 8px;
}

.rbc-agenda-event-content {
  font-size: 14px;
}
